<%= turbo_frame_tag "services" do %>
  <section class="bg-white p-4">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900">Adicionar Serviço</h2>
        <%= render "form" %>
    </div>
  </section>
<% end %>